@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.sbi-arrow {
  -webkit-transform: rotate(-90deg) scaleX(-1) !important;
          transform: rotate(-90deg) scaleX(-1) !important;
}

.flip-arrow {
  -webkit-transform: scaleY(-1) !important;
          transform: scaleY(-1) !important;
}

.sb-none {
  display: none !important;
}

.mo-height {
  max-height: 200px;
  overflow-y: auto;
  scrollbar-color: rgba(246, 246, 246, 0.2) transparent;
}

.mo-height::-webkit-scrollbar {
  width: 7px;
}

.mo-height::-webkit-scrollbar-track {
  background: rgba(246, 246, 246, 0.2);
  border-radius: 4px;
}

.mo-height::-webkit-scrollbar-thumb {
  background: #E0DFE4;
  border-radius: 10px;
}

.mo-height::-webkit-scrollbar-thumb:hover {
  background: #F6F6F6;
}

body {
  min-height: 100vh;
  background-color: #170A34;
  color: #fff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.virtu-main-inner {
  padding-bottom: 50px;
}

.virtu-content-inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1000px) {
  .virtu-content-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.virtu-content-inner .virtu-content-a {
  -ms-flex-preferred-size: 83.33333%;
      flex-basis: 83.33333%;
  max-width: 83.33333%;
}

@media only screen and (max-width: 1000px) {
  .virtu-content-inner .virtu-content-a {
    max-width: 100%;
  }
}

.virtu-content-inner .virtu-content-b {
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
  max-width: 16.66667%;
}

@media only screen and (max-width: 1000px) {
  .virtu-content-inner .virtu-content-b {
    max-width: 100%;
  }
}

.virtu-sub {
  background-color: #fff;
}

.virtu-sub-inner {
  text-align: center;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.virtu-sub-inner .virtu-sub-a {
  background-color: #d8288f;
  color: #fff;
  padding: 10px 40px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.virtu-sub-inner .virtu-sub-a:hover {
  background-color: #d8288f;
  color: #fff;
}

.virtu-sub-inner .virtu-sub-b {
  color: #170A34;
  padding: 10px 40px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.virtu-sub-inner .virtu-sub-b:hover {
  background-color: #d8288f;
  color: #fff;
}

.glider-contain {
  /* width: 100%; */
  margin: 0 auto;
  position: relative;
}

.glider {
  margin: 0 auto;
  position: relative;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.glider-track {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.glider.draggable {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
}

.glider.draggable .glider-slide img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.glider.drag {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.glider-slide {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

.glider::-webkit-scrollbar {
  opacity: 0;
  height: 0;
}

.glider-prev, .glider-next {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  outline: none;
  background: none;
  padding: 0 5px;
  z-index: 2;
  font-size: 20px;
  height: 100%;
  text-decoration: none;
  left: -46px;
  border: 0;
  top: -1px;
  cursor: pointer;
  color: #666;
  opacity: 1;
  line-height: 1;
  -webkit-transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67), color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.glider-prev:hover,
.glider-next:hover,
.glider-prev:focus,
.glider-next:focus {
  color: #a89cc8;
  background: rgba(255, 255, 255, 0.1);
}

.glider-next {
  right: -45px;
  left: auto;
}

.glider-next.disabled,
.glider-prev.disabled {
  opacity: .25;
  color: #fff;
  cursor: default;
}

.glider-slide {
  min-width: 150px;
}

.glider-hide {
  opacity: 0;
}

.glider-dots {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.glider-dot {
  background: none;
  border: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
  display: block;
  cursor: pointer;
  color: #ccc;
  border-radius: 999px;
  background: #ccc;
  width: 12px;
  height: 12px;
  margin: 7px;
}

.glider-dot:hover,
.glider-dot:focus,
.glider-dot.active {
  background: #a89cc8;
}

@media (max-width: 36em) {
  .glider::-webkit-scrollbar {
    opacity: 1;
    -webkit-appearance: none;
    width: 7px;
    height: 3px;
  }
  .glider::-webkit-scrollbar-thumb {
    opacity: 1;
    border-radius: 99px;
    background-color: rgba(156, 156, 156, 0.25);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
            box-shadow: 0 0 1px rgba(255, 255, 255, 0.25);
  }
}

.vslider {
  margin-top: 50px;
  margin-bottom: 10px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 727px;
  height: 52px;
}

.vslider-inner {
  height: 100%;
}

.vslider .vslider-prev {
  background-color: #075861;
  border: 1px solid #fff;
  width: 46px;
  height: 52px;
  border-radius: 4px 0 0 4px;
}

.vslider .vslider-next {
  background-color: #075861;
  border: 1px solid #fff;
  width: 46px;
  height: 52px;
  border-radius: 0 4px 4px 0;
}

.vslide {
  padding: 10px;
  height: 100%;
  background-color: #075861;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #fff;
}

.vslide-img {
  height: 15px;
  margin-bottom: 3px;
}

.vslide-title {
  font-size: 11px;
}

.vslide:hover {
  background-color: #054249;
}

.sport-vid {
  width: 820px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.sport-vid.inc-width {
  width: 1120px;
}

.sport-vid-inner .sport-video {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

.sport-vid-inner .sport-video-inner {
  width: 100%;
  outline: none;
  display: block;
}

.sport-vid-inner .sport-video:hover .sport-video-controls {
  opacity: 1;
}

.sport-video-controls {
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 5px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sport-video-controls .svc-mute:hover::before {
  color: #d8288f;
}

.sport-video-controls .svc-mute::before {
  content: '\f028';
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  font-size: 18px;
  color: #fff;
  font-weight: 900;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.sport-video-controls .svc-mute.on:before {
  content: '\f028';
}

.sport-video-controls .svc-mute.off:before {
  content: '\f6a9';
}

.sport-video-controls .svc-exp:hover::before {
  color: #d8288f;
}

.sport-video-controls .svc-exp::before {
  content: '\f065';
  font-family: 'Font Awesome 5 Free';
  display: inline-block;
  font-size: 18px;
  color: #fff;
  font-weight: 900;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.sport-video-controls .svc-exp.exp-bg:before {
  content: '\f065';
}

.sport-video-controls .svc-exp.exp-sm:before {
  content: '\f066';
}

.sport-bar {
  background-color: #dfdfdf;
  padding: 10px;
  border-radius: 4px;
}

.sport-bar-inner {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.sport-bar-inner .sport-bar-a {
  background-color: #e44a3f;
  padding: 9px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.sport-bar-inner .sport-bar-a:last-child:hover {
  background-color: #fff;
  color: #e44a3f;
}

.sport-bar-inner .sport-bar-b {
  background-color: rgba(77, 77, 77, 0.79);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 10px;
}

.vv-det {
  background-color: rgba(209, 209, 219, 0.9);
  max-width: 820px;
  margin: 0 auto;
  border-radius: 4px;
}

.vv-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.vv-a-title {
  color: rgba(51, 51, 51, 0.79);
  font-size: 13px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vv-a-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.vv-a-ul-li {
  background-color: rgba(209, 209, 219, 0.9);
  color: rgba(51, 51, 51, 0.79);
  margin-left: 10px;
  padding: 3px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.vv-a-ul-li.select {
  background-color: #c38a2c;
  color: #fff;
}

.vv-b {
  padding: 5px 10px;
  background-color: #e56db3;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vv-b-text {
  font-size: 16px;
  font-weight: 300;
}

.vv-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

.vv-c-item {
  background-color: #ededf2;
  color: #000;
  padding: 6px 10px;
  font-size: 13px;
  margin-right: 5px;
  border-radius: 4px;
  border-top: 3px solid transparent;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.vv-c-item.select {
  border-top: 3px solid #c38a2c;
  background-color: #fff;
}

.vv-c-item:hover {
  border-top: 3px solid #c38a2c;
  background-color: #fff;
}

.vv-c-item-fav {
  padding: 0 14px;
}

.vv-d {
  padding: 5px;
}

.v-box-container {
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 5px;
}

.v-box-a {
  background-color: #ededf2;
  color: rgba(0, 0, 0, 0.6);
}

.v-box-a-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  height: 34px;
  padding: 10px 40px 10px 10px;
}

.v-box-a-inner .v-head {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.v-box-a-inner .v-icons-fav {
  cursor: pointer;
}

.v-box-a-inner .v-icons-fav:hover {
  color: #000;
}

.v-box-a-inner .v-icons-arrow {
  position: absolute;
  right: 0;
  position: absolute;
  padding: 5px 10px;
  right: 0px;
  font-size: 16px;
  cursor: pointer;
}

.v-box-a-inner::after {
  content: '';
  position: absolute;
  right: 32px;
  width: 1px;
  height: 34px;
  background-color: #d5d5da;
}

.v-box-b {
  background-color: #fff;
  color: #333;
}

.v-box-b-inner {
  width: 100%;
  font-size: 13px;
  border-collapse: collapse;
  table-layout: fixed;
}

.v-box-b-inner tbody .v-box-row {
  border-top: 1px solid rgba(209, 209, 219, 0.9);
}

.v-box-b-inner tbody .v-box-row td {
  padding: 8px 10px 8px 10px;
  border-right: 1px solid rgba(209, 209, 219, 0.9);
  cursor: pointer;
}

.v-box-b-inner tbody .v-box-row td .v-box-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.v-box-b-inner tbody .v-box-row td .v-box-card .v-box-tm {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.v-box-b-inner tbody .v-box-row td .v-box-card .v-box-sr {
  color: #0167e8;
}

.v-box-b-inner tbody .v-box-row td:hover {
  background-color: #c4d9f2;
}

.v-box-b-inner tbody .v-box-row td:hover .v-box-card .v-box-sr {
  color: #333;
}

.vv-e {
  background-color: rgba(209, 209, 219, 0.9);
  margin-top: 20px;
  border-radius: 0 0 4px 4px;
}

.vv-e-inner-text {
  line-height: 1.5;
  padding: 10px 5px;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  color: #333;
  margin: 0;
  opacity: .7;
}

.virtu-content-b {
  padding-top: 50px;
}

.virtu-content-b-inner {
  padding-right: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.betslip-container {
  margin: 3px;
}

.betslip-container .bets-num {
  color: #0167e8;
}

.betslip-a {
  border-radius: 4px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 5px;
}

.betslip-a-head {
  background-color: #373168;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  color: #fff;
}

.betslip-a-head .bets-title {
  font-size: 12px;
}

.betslip-a-head .bets-count {
  width: 16px;
  height: 16px;
  font-size: 8px;
  margin-left: 3px;
  background-color: #c38a2c;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.betslip-a-sub {
  background-color: rgba(209, 209, 219, 0.9);
  padding: 9px 8px 9px 5px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.betslip-a-sub select {
  border: 0;
  height: 22px;
  border-radius: 4px;
  background-color: #ededf2;
  font-size: 12px;
  outline: 0;
}

.betslip-a-sub .bets-remove {
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  color: #333;
}

.betslip-a-sub .bets-remove:hover {
  opacity: .7;
}

.betslip-b {
  border-radius: 4px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 5px;
  font-size: 12px;
}

.betslip-b-head {
  background-color: #ededf2;
  color: rgba(0, 0, 0, 0.79);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.betslip-b-head .bets-ico {
  font-size: 16px;
}

.betslip-b-head .bets-ico i {
  cursor: pointer;
  margin-left: 10px;
}

.betslip-b-sub {
  background-color: rgba(209, 209, 219, 0.9);
  color: #333;
  padding: 8px;
}

.betslip-b-sub .betslip-b-a {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.betslip-b-sub .betslip-b-a .bets-mr {
  font-weight: 500;
  color: #707070;
}

.betslip-b-sub .betslip-b-b {
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.betslip-b-sub .betslip-b-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.betslip-b-sub .betslip-b-c span {
  margin-left: 5px;
}

.betslip-b-sub .betslip-b-c + .betslip-b-c {
  border-top: 1px solid rgba(188, 188, 197, 0.9);
  margin-top: 6px;
  padding-top: 6px;
}

.bets-left-down {
  font-size: 11px;
}

.bets-right input {
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 12px;
  height: 30px;
  width: 60px;
  border-radius: 4px;
  border: 0;
  outline: 0;
  padding: 0 8px;
  text-align: right;
  -moz-appearance: textfield;
}

.bets-right input::-webkit-outer-spin-button, .bets-right input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.betslip-c {
  width: 100%;
  margin-bottom: 5px;
  font-size: 12px;
}

.betslip-c-head {
  background-color: rgba(209, 209, 219, 0.9);
  color: #333;
  padding: 8px;
}

.betslip-c-head div:last-child {
  border-top: 1px solid rgba(188, 188, 197, 0.9);
  padding-top: 5px;
}

.betslip-c-head .betslip-c-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}

.betslip-c-sub {
  padding: 5px;
  background-color: #ededf2;
  border-radius: 0 0 4px 4px;
}

.betslip-c-sub a {
  display: block;
  background-color: #d8288f;
  text-align: center;
  font-size: 16px;
  padding: 9px 0;
}

.betslip-c-sub a:hover {
  background-color: #c4a366;
}
/*# sourceMappingURL=virtual.css.map */